<?xml version="1.0" ?>
<robot name="SideWalls">
  <link name="base_link" />

  <link name="LeftWall">
    <visual>
      <origin xyz="0 1.01 1.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.02 0.2"/>
      </geometry>
      <material name="XXX">
        <color rgba="0.3 0.5 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 1.01 1.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.02 0.2"/>
      </geometry>
      <material name="XXX">
        <color rgba="0.3 0.5 0.2 1" />
      </material>
    </collision>
  </link>
  <joint name="LeftWall" type="fixed">
    <parent link="base_link" />
    <child link="LeftWall" />
    <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>

  <link name="RightWall">
    <visual>
      <origin xyz="0 -1.01 1.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.02 0.2"/>
      </geometry>
      <material name="XXX">
        <color rgba="0.3 0.5 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -1.01 1.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.02 0.2"/>
      </geometry>
      <material name="XXX">
        <color rgba="0.3 0.5 0.2 1" />
      </material>
    </collision>
  </link>
  <joint name="RightWall" type="fixed">
    <parent link="base_link" />
    <child link="RightWall" />
    <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>
</robot>
